.titulo {
 font-size: 30px; 
}
.title-a {
  font-size: 24px;
}
.title h2 {
 font-size: 35px;
}
.title-b {
 font-size: 35;
}
.portada {
 background-image: url("https://raw.githubusercontent.com/greenbarranquilla/greenbarranquilla.github.io/master/images/oso.png")
color: white;
} 
.menu {
 font-size: 24px;
}
