* {
  border: 1px solid red;
  margin: 10px;
}
header {
  background: purple;
}
section {
  background: blue;
}
article h3 {
  color: green;
}
.title {
  background: yellow;
}
#header {
border: 3px solid black;
}
#portada {
border: 3px solid orange;  
}
